.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
   }
   .container1{
      margin: 5px;
      padding: 15px;
      width: 50%;
   }
   .container1 img{
       width: 400px;
       height: 500px;
   }
   .container2{
       margin: 5px;
       padding: 15px;
       width: 30%;
   }

   .content-Main{
    height: 70vh;
    width: 100%;
}
.link-main-red{
   text-decoration: none;
   color: red;
}
.link-main-black{
   text-decoration: none;
   color: black;
}